registry=https://registry.npmmirror.com/
# @xigefish:registry=https://registry.npmjs.org/
# @xigefish:registry=http://ccinpm.citycloud.com.cn
# @page-layout:registry=http://ccinpm.citycloud.com.cn
publish-branch=v6.1.x
strict-peer-dependencies=false
link-workspace-packages=true